In [1]:
import pandas as pd
import numpy as np

In [9]:
#1a  Crea un DataFrame df1 con una columna llamada numeros que contenga los valores del 0 al 19.

df1 = pd.DataFrame(range(20), columns=["numeros"])
print(df1)

    numeros
0         0
1         1
2         2
3         3
4         4
5         5
6         6
7         7
8         8
9         9
10       10
11       11
12       12
13       13
14       14
15       15
16       16
17       17
18       18
19       19

In [12]:
df2= pd.DataFrame(np.random.rand(10),columns=["aleatorios"])

print(df2)

   aleatorios
0    0.843601
1    0.846335
2    0.556275
3    0.194990
4    0.274443
5    0.149954
6    0.184252
7    0.698418
8    0.661154
9    0.016116

In [14]:
df3 = pd.concat([df1, df2], axis=1)

print(df3)

    numeros  aleatorios
0         0    0.843601
1         1    0.846335
2         2    0.556275
3         3    0.194990
4         4    0.274443
5         5    0.149954
6         6    0.184252
7         7    0.698418
8         8    0.661154
9         9    0.016116
10       10         NaN
11       11         NaN
12       12         NaN
13       13         NaN
14       14         NaN
15       15         NaN
16       16         NaN
17       17         NaN
18       18         NaN
19       19         NaN

In [16]:
#d)
df3.to_csv("df3.csv", index=False)

In [21]:
#ejercicio 2

df4 = pd.DataFrame({
"A": range(1, 11),
"B": [5,3,6,8,2,9,1,7,4,10]
})

In [22]:
#a

df4[df4["B"]>5]

    A   B
2   3   6
3   4   8
5   6   9
7   8   7
9  10  10

In [26]:
df4.loc[df4["B"] < 4, "B"] = pd.NA

print(df4)

    A     B
0   1   5.0
1   2   NaN
2   3   6.0
3   4   8.0
4   5   NaN
5   6   9.0
6   7   NaN
7   8   7.0
8   9   4.0
9  10  10.0

In [32]:
#3
dfw = pd.read_csv("winequality-red.csv", sep=";", header=0)
dfw.shape

dfw

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [36]:
dfw.describe() #asi sacamos todas las columnas a la vez jejej ojo

# a) 
# fixed acidity: ácidos no volátiles del vino.
# volatile acidity: ácidos volátiles responsables de olores avinados
# citric acid: cantidad de ácido cítrico que da frescura al vino
# residual sugar: azúcar que queda tras la fermentación
# chlorides: concentración de sales (cloruro)
# free sulfur dioxide: SO2 libre que actúa como conservante.
# total sulfur dioxide: SO2 total presente en el vino.
# density: densidad del vino según contenido de alcohol y azúcar.
# pH: acidez global medida como pH.
# sulphates: sulfatos usados para mejorar estabilidad microbiana.
# alcohol: grado alcohólico del vino.
# quality: puntuación de calidad dada por catadores profesionales.  (he hecho busquedas en fuentes expertas y experimento propio, no tengo conocimientos avanzados en la materia)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [3]:
dfwr = pd.read_csv("winequality-red.csv", sep=";", header=0)
dfwr.shape

dfwr

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [4]:
dfwr["quality"] = pd.cut(
    dfwr.quality,
    3,
    labels=["malo", "regular", "bueno"]
)

dfwr

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,regular
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,regular
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,regular
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,regular
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,regular
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,regular
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,regular
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,regular

In [5]:
#aseguramiento masivo

dfwr["quality"].value_counts()

quality
regular    1319
bueno       217
malo         63
Name: count, dtype: int64

In [6]:
dfwr= dfwr [dfwr["quality"]!="malo"]

dfwr

dfwr["quality"].value_counts()

quality
regular    1319
bueno       217
malo          0
Name: count, dtype: int64

In [7]:
dfwr["citric acid"]= (dfwr["citric acid"]*100

dfwr

C:\Users\ACER\AppData\Local\Temp\ipykernel_67552\1329796022.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfwr["citric acid"]= (dfwr["citric acid"]*100)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.0,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
1,7.8,0.880,0.0,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,regular
2,7.8,0.760,4.0,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,regular
3,11.2,0.280,56.0,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,regular
4,7.4,0.700,0.0,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,8.0,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,regular
1595,5.9,0.550,10.0,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,regular
1596,6.3,0.510,13.0,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,regular
1597,5.9,0.645,12.0,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,regular
1598,6.0,0.310,47.0,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,regular

In [8]:
dfwr.nlargest(7, "pH")

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1316,5.4,0.740,0.0,1.20,0.041,16.0,46.0,0.99258,4.01,0.59,12.5,regular
1321,5.0,0.740,0.0,1.20,0.041,16.0,46.0,0.99258,4.01,0.59,12.5,regular
695,5.1,0.470,2.0,1.30,0.034,18.0,44.0,0.99210,3.90,0.62,12.8,regular
95,4.7,0.600,17.0,2.30,0.058,17.0,106.0,0.99320,3.85,0.60,12.9,regular
1111,5.4,0.420,27.0,2.00,0.092,23.0,55.0,0.99471,3.78,0.64,12.3,bueno
1300,5.2,0.645,0.0,2.15,0.080,15.0,28.0,0.99444,3.78,0.61,12.5,regular
553,5.0,1.040,24.0,1.60,0.050,32.0,96.0,0.99340,3.74,0.62,11.5,regular

In [ ]:
import operaciones

In [10]:
def eliminaDecimales(df, col):
    df_ed = df.copy()
    df_ed[col + "_sin_dec"] = df_ed[col].astype(int)
    return df_ed

def calculaRatio(df, col1, col2):
    df_cr = df.copy()
    df_cr["ratio"] = df_cr[col1] / df_cr[col2]
    if (df_cr["ratio"] > 1).any():
        print("Aviso: hay valores del ratio mayores que 1")
    return df_cr

df_ed = eliminaDecimales(dfwr, "alcohol")
df_cr = calculaRatio(dfwr, "total sulfur dioxide", "free sulfur dioxide")

dfwr

Aviso: hay valores del ratio mayores que 1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.0,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
1,7.8,0.880,0.0,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,regular
2,7.8,0.760,4.0,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,regular
3,11.2,0.280,56.0,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,regular
4,7.4,0.700,0.0,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,8.0,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,regular
1595,5.9,0.550,10.0,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,regular
1596,6.3,0.510,13.0,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,regular
1597,5.9,0.645,12.0,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,regular
1598,6.0,0.310,47.0,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,regular

In [13]:
dfwr = calculaRatio(dfwr, "total sulfur dioxide", "free sulfur dioxide")
df_ed = eliminaDecimales(dfwr, "alcohol")

dfwr

Aviso: hay valores del ratio mayores que 1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,ratio
0,7.4,0.700,0.0,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular,3.090909
1,7.8,0.880,0.0,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,regular,2.680000
2,7.8,0.760,4.0,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,regular,3.600000
3,11.2,0.280,56.0,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,regular,3.529412
4,7.4,0.700,0.0,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular,3.090909
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,8.0,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,regular,1.375000
1595,5.9,0.550,10.0,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,regular,1.307692
1596,6.3,0.510,13.0,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,regular,1.379310
1597,5.9,0.645,12.0,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,regular,1.375000
1598,6.0,0.310,47.0,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,regular,2.333333